@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

:root {
    --container-width: 1300px;
    --container-padding: 10px;
    --nav-margin: 20px;
    --nav-padding: 0 30px;
    --nav-border: 2px solid var(--ternary);
    --secondary: rgba(48, 48, 48, 0.75);
    --ternary: #FF6464;
}

body {
    font-family: "Jost", serif;
    background-color: #F6F6F6;
    color: #303030;
    font-weight: 500;
}

body h1, h2, h3, h4, h5, h6, p {
    line-height: 122%;
    letter-spacing: 0.2px;
}

body a {
    color: inherit;
}

/* none пригодится, чтобы сайт верстать по частям */
.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding) 0;
    margin: 0 auto;
}


/* Header */


.header {
    position: relative;
    max-width: var(--container-width);
    min-height: 160px;
    padding: var(--container-padding) 0 0;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    min-height: 38px;
    margin-bottom: 12px;
}

.header__top h4 {
    font-size: 18px;
}

.header__top h5 {
    font-size: 17px;
    color: var(--secondary);
}

.header__top h6 {
    font-size: 13px;
    color: var(--secondary);
}

.adres {
    position: absolute;
    align-items: center;
    white-space: nowrap;
    height: 21px;
    left: 10px;
}

.contact {
    position: absolute;
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    
}

.our-social-networks {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    right: 10px;
}

.our-social-networks img {
    max-width: 30px;
    max-height: 30px;
}

.vk-logo {
    margin: 5px 10px 3px 10px;
}

.tg-logo {
    margin: 5px 0 3px 0;
}

.social-networks {
    margin: 8.5px 0;
}

.header__bottom {
    min-height: 110px;
    margin: 0 -10px;
}

/* Nav */

.nav {
    display: flex;
    position: relative;
    column-gap: 80px;
}

.block {
    display: flex;
    align-items: center;
    width: var(--container-width);
    height: 110px;
    border-radius: 10px;
    background-color: #fff;
}

.nav__logo {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
    left: 30px;
}

/* Logo */

.nav__logo img {
    height: 70px;
    width: 70px;
}

.nav__logo h1 {
    height: 56px;
    margin: 0 var(--nav-margin);
}

.nav__list {
    position: absolute;
    display: flex;
    align-items: center;
    width: auto;
    height: 29px;
    right: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
    column-gap: 43px;
}

.nav__list a {
    position: relative;
    max-height: 29px;
}

.nav__list a.active {
    color: var(--ternary);
}

.nav__list a.active::after,
.nav__list a.inactive:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: var(--nav-border);
    border-radius: 50px;
}


/* Main */


.description {
    padding: 30px 0 57px;
}

.description__content {
    max-width: 640px;
    max-height: 695px;
}

.store-description {
    font-size: 40px;
}

.store-description-title span {
    font-weight: 700;
}

.store-description__special-offer {
    max-width: 550px;
    max-height: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin: 27px 0 31px;
}

.store-description__special-offer span {
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 24px 78px;
    background: linear-gradient(to left, #C83B3B, #FF6464);
    width: 328px;
    height: 82px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}

