@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

:root {
    --container-width: 1300px;
    --container-padding: 10px;
    --nav-margin: 20px;
    --nav-padding: 0 30px;
    --nav-border: 2px solid var(--ternary);
    --secondary: rgba(48, 48, 48, 0.75);
    --ternary: #FF6464;
}

body {
    font-family: "Jost", serif;
    background-color: #F6F6F6;
    color: #303030;
    font-weight: 500;
}

body h1, h2, h3, h4, h5, h6, p {
    line-height: 122%;
    letter-spacing: 0.2px;
}

body h4 {
    font-size: 18px;
}

body h5 {
    font-size: 17px;
    color: var(--secondary);
}

body h6 {
    font-size: 13px;
    color: var(--secondary);
}

body a {
    color: inherit;
}

.container {
    width: var(--container-width);
    padding: 0 var(--container-padding) 0;
    margin: 0 auto;
}



/* HEADER */



header {
    position: relative;
    max-width: var(--container-width);
    min-height: 160px;
    padding: var(--container-padding) 0 0;
    margin: 0 auto;
}


/* HEADER top */


.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    min-height: 38px;
    margin-bottom: 12px;
}

.header-top__adres {
    position: absolute;
    align-items: center;
    white-space: nowrap;
    height: 21px;
    left: 10px;
}

.header-top__contact {
    position: absolute;
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    
}

.header-top__our-social-networks {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    right: 10px;
}

.header-top__our-social-networks img {
    max-width: 30px;
    max-height: 30px;
}

.header-top__our-social-networks__text {
    margin: 8.5px 0;
}

.vk-logo {
    margin: 5px 10px 3px 10px;
}

.tg-logo {
    margin: 5px 0 3px 0;
}


/* HEADER bottom */


.header-bottom {
    min-height: 110px;
    margin: 0 -10px;
}

/* Nav */

.header-bottom__nav {
    display: flex;
    position: relative;
    column-gap: 80px;
}

.header-bottom__nav__block {
    display: flex;
    align-items: center;
    width: var(--container-width);
    height: 110px;
    border-radius: 10px;
    background-color: #fff;
}

/* Logo */

.header-bottom__nav__block__logo {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
    left: 30px;
}

.header-bottom__nav__block__logo img {
    height: 70px;
    width: 70px;
}

.header-bottom__nav__block__logo h1 {
    margin: 0 var(--nav-margin);
}

/* Menu */

.header-bottom__nav__block__list {
    position: absolute;
    display: flex;
    align-items: center;
    width: auto;
    height: 29px;
    right: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
    column-gap: 43px;
}

.header-bottom__nav__block__list a {
    position: relative;
    max-height: 29px;
}

.header-bottom__nav__block__list a.active {
    color: var(--ternary);
}

.header-bottom__nav__block__list a.active::after,
.header-bottom__nav__block__list a.inactive:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: var(--nav-border);
    border-radius: 50px;
}



/* MAIN */



.description {
    display: flex;
    padding: 30px 0 57px;
}

.description__content {
    max-width: 640px;
    max-height: 782px;
}

.store-description {
    font-size: 40px;
}

.store-description-title span {
    font-weight: 700;
}

.store-description__special-offer {
    max-width: 550px;
    max-height: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin: 27px 0 31px;
}

.store-description__special-offer span {
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 24px 78px;
    background: linear-gradient(to left, #C83B3B, #FF6464);
    width: 328px;
    height: 82px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}

.bullets {
    margin-top: 28px;
}

.desktop-bullets {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    float: left;
    width: 265px;
    height: 60px;
    padding-left: 28px;
    background: url(./../img/main/bullet.svg) 0 center no-repeat;
}

.desktop-bullets p {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.desktop-bullets span {
    font-weight: 500;
}

.first-bullet,
.second-bullet {
    margin-bottom: 23px;
}

.first-bullet,
.third-bullet {
    margin-right: 29px;
}

/* Slider */

.description__slider {
    position: relative;
    overflow: hidden;
    max-width: 490px;
    height: 537px;
    margin: 32px 0 0 150px;
}

.slider-objects {
    width: 980px;
    height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.slider-objects .object {
    width: 50%;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}

.slider-objects .object img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}

.slider-objects input {
    position: absolute;
    visibility: hidden;
}

.slider-nav {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.arrow-left {
    margin: 0 7px 30px 0;
    background: url(./../img/main/slider/arrow_left.svg) center no-repeat #fff;
}

.arrow-right {
    margin: 0 0 30px 7px;
    background: url(./../img/main/slider/arrow_right.svg) center no-repeat #fff;
}

.arrow-left, .arrow-right {
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.slider-nav-object:hover {
    background-color: #eeeeee;
}

#s1:checked ~ .s1 {
    margin-left: 0;
}

#s2:checked ~ .s1 {
    margin-left: -50%;
}

.description__slider-text {
    text-align: center;
    padding-top: 16px;
}



/* FOOTER */



footer {
    display: flex;
    position: relative;
    background-color: rgba(211, 211, 211, 0.5);
    font-size: 23px;
    font-weight: 700;
    height: 230px;
}

.footer-info {
    display: flex;
}

.footer-info-text {
    width: 1060px;
    height: 196px;
    margin: 17px 0;
}

.footer-info-logo {
    display: flex;
}

.footer-info-logo img {
    height: 70px;
    width: 70px;
    margin: 80px 0 80px 27px;
}

.footer-info-logo h1 {
    margin: 87px 0 87px var(--nav-margin);
}